@import "../mixins";

.Activity__wrapper {
    display: inline-block;
    vertical-align: top;
    margin: 2px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 3px solid;
    padding: 5px;
    background-color: white;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
}
.Activity__header-wrapper {
    display: flex;
    height: 100px;
    width: 300px;
    cursor: pointer;
}
.Activity__card-left {
    flex: 1 0 0;
    background-color: #fff6f6;
    display: block;
    height: 100%;
    width: 31%;
    border-radius: 50%;
    text-align: center;
    position: relative;
    font-size: 2em;
    color: white;
}
.Activity__initials {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}
.Activity__card-right {
    flex: 2 0 0;
    padding: 3px 3px;
    display: flex;
}
.Activity__info {
    flex: 1 0 0;
    text-align: center;
    box-sizing: border-box;
}
.Activity__info-row {

}
.Activity__chat-count {
    position: relative;
    height: 100%;
    font-size: 3em;
    letter-spacing: 2px;
}
.invisible {
    border-color: $grey;
    .Activity__card-left {
        background-color: $grey;
    }
}

.active {
    border-color: $green;
    .Activity__card-left {
        background-color: $green;
    }
}
.away {
    border-color: $yellow;
    .Activity__card-left {
        background-color: $yellow;
    }
}

.Activity__chat-list-wrapper {
    box-sizing: border-box;
}